# Ignore common files that aren't needed in the Docker image
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.mypy_cache
**/.pytest_cache
**/.hypothesis

# Note: .git folder is included for setuptools-scm version detection
